# Madlibs Dataframe Using Python & Pandas

# Welcome to my beginner tutorial on Pandas Dataframes 


### We will be utilizing a madlibs program in the style of Kylie Ying from freecodecamp, if you have not seen that video, go watch it. 
### The concept is straightforward. In order to use pandas, we must import it into our project, so let's do that

In [ ]:
import pandas as pd

#### the above line imports pandas and nicknames it the common shortcode 'pd'
#### Let's paste the madlibs we made into a cell and play it once to populate it with data
#### (note: the madlibs we imported is from my madlibs to advanced tutorial, you can copy this one if you like)

In [7]:
a1 = input('Choose A Type of Event/Place: ').upper() # we replaced the names like adj with a simple A-number here
a2 = input('Pick An Adjective: ').upper()
a3 = input('Pick Another Adjective: ').upper()
a4 = input('Choose a Food Noun: ').upper()
a5 = input('Pick a Plural Noun Related to Food: ').upper()
a6 = input('Pick Another Plural Noun: ').upper()

 # in the dictionary we have replaced the instance names with the corresponding  A-number, further lightening our code

# Create a dictionary of the inputs:

input_dict = {
    "event": a1,
    "adj2": a2,
    "adj3": a3,
    "noun2": a4,
    "plural_noun": a5,
    "plural_noun2": a6
}

# Create a list of the inputs:

input_list = [a1,a2,a3,a4,a5,a6]


# notice here that we dont have to use the A-numbers in the same order we harvested them, we insert whichever number is needed, whrerver it is needed, this is powerful.

madlib2 = f' One of the things most {a2} sports fans look forward to at American  {a1} is eating a/an {a5}. \
There is nothing more traditional than watching a/an {a3} act and eating {a4} drenched in mustard, relish, and {a6}.'
# we saved a whole line of code where this note is

print(madlib2)

# Optional: Print the list and dictionary for verification

print("\nInput List:")
print(input_list)

print("\nInput Dictionary:")
print(input_dict)

Choose A Type of Event/Place:  lollapalooza
Pick An Adjective:  yummy
Pick Another Adjective:  delicious
Choose a Food Noun:  cheeses
Pick a Plural Noun Related to Food:  sauces
Pick Another Plural Noun:  goats

 One of the things most YUMMY sports fans look forward to at American  LOLLAPALOOZA is eating a/an SAUCES. There is nothing more traditional than watching a/an DELICIOUS act and eating CHEESES drenched in mustard, relish, and GOATS.

Input List:
['LOLLAPALOOZA', 'YUMMY', 'DELICIOUS', 'CHEESES', 'SAUCES', 'GOATS']

Input Dictionary:
{'event': 'LOLLAPALOOZA', 'adj2': 'YUMMY', 'adj3': 'DELICIOUS', 'noun2': 'CHEESES', 'plural_noun': 'SAUCES', 'plural_noun2': 'GOATS'}

### once the cell is run and poplated, you can see that we have a list, a dictionary and we can also call the individual answers outside the lists and dictionaries as a1 thru a6 like this:
a1,a2,a3,a4,a5,a6

In [9]:
a1,a2,a3,a4,a5,a6

('LOLLAPALOOZA', 'YUMMY', 'DELICIOUS', 'CHEESES', 'SAUCES', 'GOATS')

### as you can see, we get the same answers back in the same order as the list and the dictionary and everything is very orderly, let's do something with the data

In [11]:
# Create DataFrames using different access methods:

# 1. DataFrame from the list (using positional access):
import pandas as pd
df_list = pd.DataFrame([input_list], columns=['Event', 'Adjective1', 'Adjective2', 'Noun', 'Food_Plural', 'Other_Plural'])
print("\nDataFrame from List:")
print(df_list)

DataFrame from List:
          Event Adjective1 Adjective2     Noun Food_Plural Other_Plural
0  LOLLAPALOOZA      YUMMY  DELICIOUS  CHEESES      SAUCES        GOATS

### The simple dataframe above shows our data we have collected in a nice table with column labels, the neat thing about dataframes is that if we just call the instance instead of print(ing) it, we get a fancy dataframe like this:

In [13]:
df_list

          Event Adjective1 Adjective2     Noun Food_Plural Other_Plural
0  LOLLAPALOOZA      YUMMY  DELICIOUS  CHEESES      SAUCES        GOATS

In [15]:
# 2. DataFrame from the dictionary (using key-based access):
import pandas as pd
df_dict = pd.DataFrame([input_dict])
print("\nDataFrame from Dictionary:")
df_dict # calls a fancy dataframe to print, skipping the print function!

DataFrame from Dictionary:

          event   adj2       adj3    noun2 plural_noun plural_noun2
0  LOLLAPALOOZA  YUMMY  DELICIOUS  CHEESES      SAUCES        GOATS

In [33]:
custom_columns = ['event', 'adj2', 'adj3', 'noun2', 'plural_noun', 'plural_noun2'] # Corrected column names to match dictionary keys.
df_custom = pd.DataFrame([{col: input_dict[col] for col in custom_columns}])
print("\nDataFrame with Custom Columns:")
df_custom

DataFrame with Custom Columns:

          event   adj2       adj3    noun2 plural_noun plural_noun2
0  LOLLAPALOOZA  YUMMY  DELICIOUS  CHEESES      SAUCES        GOATS

In [35]:
# 4. DataFrame with rows that are the individual words.
import pandas as pd
df_word_rows = pd.DataFrame(index=['Event', 'Adjective1', 'Adjective2', 'Noun', 'Food_Plural', 'Other_Plural'], data = input_list, columns = ['Word'])
print('\nDataFrame with word rows:')
df_word_rows

DataFrame with word rows:

                      Word
Event         LOLLAPALOOZA
Adjective1           YUMMY
Adjective2       DELICIOUS
Noun               CHEESES
Food_Plural         SAUCES
Other_Plural         GOATS

## As you can see, the power and flexibility of this from a data science standpoint is HUGE. We have taken in a variety of user inputs, organized them in various ways, we created adictionary to refernce them and we even output the data into a fancy form response (madlib) . Then we output that data in a wat that is useful for charting in a dataframe.

# Look for the nesxt tutorial in this where we will create a simple database of user responses and generate several sets of answers into the dataframe and into a form. 
# Next tutorial: Madlibs_Pandas_User_DB